# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
ENV/

# Docker
postgres_data/
*.pid

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp